.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.product-image-container {
  position: relative;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border: none;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.add-cart-btn {
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 40px;
  border: none;
  background: #bfd300;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product-details {
  padding: 8px 14px;
}

.product-details h4 {
  color: #777;
  font-size: 15px;
  font-weight: 400;
}

.product-details h3 {
  margin-top: 5px;
  font-size: 18px;
}

.rating {
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 3px 10px;
  border-radius: 15px;
  background: #c5ca8d;
  color: white;
  font-size: 14px;
}
